* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Coda';
    src: url('../public/fonts/Coda-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #E3E3E3;
    --secondary-color: #030303;
    --font-family: 'Coda', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 240px;
}

.span-element{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 330px !important;
    /* border: 2px solid #E3E3E3; */
}